*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.checkIcon {
  width: 10rem;
  height: 10rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blueCheck {
  color: blue;
}

.whiteCheck {
  color: white;
  visibility: hidden;
}

.profileSelection {
  text-decoration: underline;

  color: blue;
}

.navbartoggle {
  color: #444ce7;
}

.selectCvOrApp {
  background-color: #a4bcfd;
  color: #444ce7;
}
